* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: block;
	background-color: #F3E25B;
	font-family: 'Oxygen', sans-serif;
}

div.header-container {
	max-width: 1440px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

div.header-logo {
	margin-left: 70px;
}

menu.header-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	margin-right: 70px;

}

menu.header-buttons a {
	color: black;
	text-decoration: none;

}


menu.header-buttons li {
	font-size: 1rem;
	list-style-type: none;
	padding: 10px;
	border: 1px solid black;
	border-radius: 20px;
	margin-right: 15px;
	background-color: white;
}

section.first-page {
	max-width: 640px;
	max-height: 600px;
	overflow: auto;


}

.first-page h1 {
		font-size: 3.62rem;
		margin-bottom: 10px;
		margin-top: 52px;
	}

.first-page p {
		font-size: 1.12em;
	}


section.start-selling {
	overflow: auto;
}

section.start-selling h2 {
	font-size: 2.25rem;
}

section.start-selling p {
		font-size: 0.87rem;
		font-weight: 200;
		opacity: 0.37;
		margin-top: 5px;
	}

div.form-wrapper {
		display: flex;
		flex-direction: column;
		max-width: 420px;
		min-height: 413px;
		background-color: white;
		border-radius: 19px;
		padding: 0 14px 14px 14px;
		margin-top: 10px;
		box-shadow: 5px 30px 30px rgb(0 0 0 / 0.15);

	}

	.form {
		display: flex;
		flex-direction: column;
		overflow: auto;

	}

	label, .button {
		font-size: 1.1em;
		letter-spacing: 2px;
		margin-top: 1em;
	}

	label {
		margin-bottom: 3px;
	}

	.form-input {

		border-radius: 5px;
		padding: 0.6em 0;
		font-size: 16px;
		border: 1px solid black;
		text-indent: 0.5em;
	}

	.form-input:focus {

		
		border: 1px solid #F3E25B;
		outline: none;
		transition: all 0.3s ease;	

	}



	 textarea.form-input {
		min-height: 110px;
		font-size: 16px;
		font-family: 'Oxygen', sans-serif;
		text-indent: 0.5em;
		resize: none;
		
		
	}

	::placeholder {
		opacity: 0.7;
		
	}

	.form-button {
		margin-top: 1em;
		background-color: black;
		color: white;
		padding: 0.6em;
		font-size: 1.1em;
		border-radius: 5px;
		font-weight: 700;
		border: none;
		margin-bottom: 4px;

	}

	
	button:active {
		transform: scale(0.95);
		transition: 0.2s;

	}

	div.yellow-page-wrapper {
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		margin-left: auto;
		margin-right: auto;
		max-width: 1440px;
		margin-bottom: 40px;

		
	}

	div.pos {
		display: flex;
		flex-direction: column;
		margin-left: 70px;
		flex: 1;
		

	}


	div.girl-photo {
		max-width: 640px;
		max-height: 789px;
		display: flex;
		margin-right: 70px;
		flex: 1;
			

	}

	div.girl-photo img {
		max-width: 100%;
		max-height: 100%;
		object-fit: cover;


	}


/*Black Wrapper*/

	div.black-wrapper {
		background-color: black;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
	}

	div.black-wrapper-content {
		margin: 0 70px;
		display: flex;
		flex-direction: column;

	}

	div.black-text {
		color: white;
		text-align: center;
	}


	.black-text h1 {
		font-size: 3.62rem;
		padding-top: 1em;
		padding-bottom: 1em;

	}

	div.frame-wrapper {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 2.2em;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 7rem;

	}

	div.frame {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		max-width: 390px;
		max-height: 365px;


	}

	div.frame img {
		width: 90%;
		height: 90%;


	}

	div.frame-text {
		color: white;
		margin: 0 auto;
		text-align: center;

	}

	div.frame-text h1 {
		margin-top: 10px;
	}


/*White Page*/
	div.white-wrapper {
		background-color: white;
		width: 100%;
		height: 100%;
		position: relative;


	}

	div.white-wrapper-content {
		
		margin: 0 70px;


	}

	div.white-wrapper-frame {
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 100px;


	}

	div.white-wrapper h1 {
		text-align: center;
		font-size: 3.62rem;
		padding-top: 2rem;
		margin-bottom: 3rem;
		position: relative;
		z-index: 10;

	}

	div.semi-circle {
		min-height: 150px;
		min-width: 300px;
		background-color: #F3E25B;
		border-bottom-left-radius: 150px;
		border-bottom-right-radius: 150px;
		position: absolute;
		top: 0;
		right: 200px;
		z-index: 1;
	}

	div.circle {
		width: 200px;
		height: 200px;
		border-radius: 50%;
		background-color: #F3E25B;
		position: absolute;
		bottom: 20px;
		left: 300px;
	}

	div.spot {
		height: 1rem;
		width: 1rem;
		margin-left: 1rem;
		background-color: #F3E25B;
		border-radius: 50%;
		position: absolute;
		margin-top: 8px;

	}

	div.why {
		display: block;
		margin-bottom: 2rem;
		position: relative;
		z-index: 10;
	}

	div.why-container h2 {
		font-size: 2rem;
		margin-left: 2.5rem;
		margin-bottom: 5px;

	}

	div.why-container p {
		margin-left: 2.5rem;
	}

	div.no-shipping {
		margin-bottom: 0;
	}




	/*FOOTER*/
	footer {
		background-color: black;
		min-height: 100%;

	}

	div.footer-wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: 1440px;
		margin-left: auto;
		margin-right: auto;
		padding-top: 2rem;
	}

	div.footer-image {
		margin-left: 70px;
		text-align: left;
	}

	footer p {
		color: white;
		text-align: center;
		font-weight: 300;
		padding-bottom: 2rem;

	}	

	.footer-buttons {
		
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
		padding: 20px 70px 20px 20px;
	


	}

	.footer-buttons a {
		text-decoration: none;
		color: white;
		font-weight: 400;

	}

	.footer-buttons li {
		padding: 10px;
		list-style: none;
	}

	.footer-buttons a:where(:hover, :focus) {
		color: #F3E25B;
	}


	ul.social-media {
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 2rem;
		margin-bottom: 40px;
		margin-top: 20px;

	}

	.social-media img {
		width: 45px;
		height: 45px;
	}































	


	






























@media (max-width: 1007px) {

	/*Margins*/

div.header-container {
	margin: 20px 20px 0 20px;
	display: block;
}
div.yellow-page-wrapper {
	margin: 0 20px;
	display: block;
}

	/*End margins*/

	div.header-logo {
		text-align: center;
		margin-left: 0;

	}

	div.header-logo img {
		width: 120px;
		height: 35px;
	}


	
	.mobile-wrapper {
		width: 100%;
		overflow: hidden;
		height: 50px;
	}
	
	menu.header-buttons {

  		overflow: auto;
  		white-space: nowrap;
  		padding: 0.4em 0.6em;
  		font-size: 1.12em;
  		display: block;
  		margin-right: 0;
  		text-align: center;
  	  		
}

	menu.header-buttons li {
		font-weight: 400;
		padding: 1em;
		display: inline-block;
		border: none;
		margin: 0;
		background-color: #F3E25B;

			
	}

	.first-page h1 {
		font-size: 2.43em;
		margin-bottom: 10px;
		margin-top: 30px;
	}

	section.first-page {
		margin: 0;
		width: 100%;
		height: 100%;
	}


	section.start-selling {
		margin-top: 55px;
		margin-left: 0;
	}

	section.start-selling h2 {
		font-size: 1.5rem;
	}

	section.start-selling p {
		font-size: 0.87em;
		font-weight: 200;
		opacity: 0.37;
		margin-top: 10px;
	}

	div.form-wrapper {
		display: flex;
		flex-direction: column;
		max-width: 50em;
		min-height: 390px;
		background-color: white;
		border-radius: 19px;
		padding: 0 14px 14px 14px;
		margin-top: 10px;
		margin-left: 0;
		box-shadow: 5px 30px 30px rgb(0 0 0 / 0.15);

	}


	
	div.girl-photo {
		max-width: 390px;
		max-height: 520px;
		margin: auto;
	}

	div.girl-photo img {
		width: 100%;
		height: 100%;
	}

	div.pos {
		margin-left: 0;
	}


	/* Black Font page */

	div.black-wrapper {
		background-color: black;
		width: 100%;
		
		
	}

	div.black-wrapper-content {
		margin: 0 20px;
		display: flex;
		flex-direction: column;

	}

	div.black-text {
		color: white;
		text-align: left;
	}

	.black-text h1 {
		font-size: 2.43em;
		padding-top: 1em;
		padding-bottom: 1em;

	}

	div.frame-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2.2em;
		margin-bottom: 0;

	}

	div.frame {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		max-width: 390px;
		max-height: 365px;


	}

	div.frame img {
		width: 90%;
		height: 90%;


	}

	div.frame-text {
		color: white;
		margin: 0 auto;
		text-align: center;

	}

	div.frame-text h1 {
		margin-top: 10px;
	}

	div.frame:last-of-type {

		margin-bottom: 3em;

	}



	/*White page*/

	div.white-wrapper-content {
		margin: 0 20px;
	}

	div.white-wrapper-frame {
		padding-bottom: 0;
	}

	div.white-wrapper h1 {
		text-align: center;
		font-size: 2.43em;
		padding-top: 1rem;
		margin-bottom: 2rem;
		position: relative;
		z-index: 10;

	}

	div.semi-circle {
		min-height: 150px;
		min-width: 300px;
		background-color: #F3E25B;
		border-bottom-left-radius: 150px;
		border-bottom-right-radius: 150px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
	}

	div.circle {
		width: 167px;
		height: 167px;
		border-radius: 50%;
		background-color: #F3E25B;
		position: absolute;
		bottom: 80px;
		left: 60px;
	}

	div.spot {
		height: 1em;
		width: 1em;
		margin-left: 1rem;
		background-color: #F3E25B;
		border-radius: 50%;
		position: absolute;
		margin-top: 8px;

	}

	div.why {
		display: inline-block;
		margin-bottom: 2rem;
		position: relative;
		z-index: 10;
	}

	div.why-container h2 {
		margin-left: 2.5rem;
		margin-bottom: 5px;

	}

	div.why-container p {
		margin-left: 2.5rem;
	}


	/*Footer*/

	footer {
		background-color: black;
		min-height: 50vh;
	}

	div.footer-wrap {
		display: block;
		padding-top: 0;
	}

	footer p {
		color: white;
		text-align: center;
		font-weight: 300;
		padding-bottom: 2em;

	}	

	.footer-buttons {

		display: block;
		text-align: center;
		padding: 20px 20px 20px 20px;

	}

	.footer-buttons a {
		text-decoration: none;
		color: white;
		font-weight: 400;

	}

	.footer-buttons li {
		padding: 10px;
		list-style: none;
	}

	.footer-buttons a:where(:hover, :focus) {
		color: #F3E25B;
	}

	div.footer-image {
		padding-top: 2rem;
		margin-left: 0;

	}

	.footer-image img {
		margin: 0 auto;
		display: block;

	}


	ul.social-media {
		list-style: none;
		display: flex;
		justify-content: center;
		gap: 1rem;
		margin-bottom: 40px;
		margin-top: 20px;

	}

	.social-media img {
		width: 30px;
		height: 30px;
	}

	





}
	