div.content-wrapper h1 {
	text-align: center;
	font-size: 2.33rem;
	margin: 20px 70px;
}

div.tut-page-img {
	max-width: 300px;
	height: auto;
	margin: 0 auto;
}

div.tut-page-img img {
	width: 100%;
	height: auto;
}

div.tut-page-text {
	margin: 0 auto;
	max-width: 1140px;
	border-bottom: 5px solid #F3E25B;
}

div.tut-page-text ol {
	margin: 0 70px;

}

div.tut-page-text li {
	padding: 10px;
	font-size: 1.2rem;
	letter-spacing: 0.3px;
	line-height: 2;
}

div.tut-page-text:last-of-type {
	margin-bottom: 50px;
}

div.tut-page-img-sys {
	max-width: 900px;
	height: auto;
	margin: 0 auto;
}

div.tut-page-img-sys img {
	width: 100%;
	height: auto;
}

div.back-button {
	display: flex;
	align-items: stretch;
	max-width: 100px;
	border: 5px solid #F3E25B;
	margin: 30px auto;
	border-radius: 5px;
	transition: 400ms;
}

div.back-button a {
	text-decoration: none;
	color: black;
	font-weight: 700;
	font-size: 1.2rem;
	padding: 0.4rem 0.4rem 0.2rem 0.3rem;
}

div.back-button:where(:hover, :focus, :active) {
	background-color: #F3E25B;
	transition: 400ms;
	cursor: pointer;
}

/*Mobile Version*/

@media (max-width: 60em) {

div.content-wrapper h1 {
	font-size: 1.75rem;
	margin: 20px 0;
}

div.tut-page-text li {
	padding: 0;
	margin-top: 12px;
	font-size: 1rem;
	letter-spacing: 0.3px;
	line-height: 1.5;
	word-spacing: 0.25rem;
}

div.tut-page-text ol {
	margin: 0 20px;
}

li:last-of-type {
	margin-bottom: 20px;
}

div.tut-page-text li:first-of-type {
	margin-top: 20px;
}





}

